certifi==2023.5.7
CTkMessagebox==2.3
customtkinter==5.2.0
darkdetect==0.8.0
dexplot==0.1.4
et-xmlfile==1.1.0
fonttools==4.38.0
html5lib==1.1
matplotlib==3.5.3
numpy==1.21.6
openpyxl==3.1.2
pandas==1.3.5
Pillow==9.5.0
pyparsing==3.1.0
python-dateutil==2.8.2
pytz==2023.3
scipy==1.7.3
tkcalendar==1.6.1
typing_extensions==4.7.0
urllib3==2.0.3
webencodings==0.5.1
XlsxWriter==3.1.2
